{% extends "base.html" %}

{% block content %}
    <h1>{{ character.name }}</h1>
    <table  id="data" class="table table-striped">
        <thead>
            <th>
                <p>input</p>
            </th>
            <th>
                <p>damage</p>
            </th>
            <th>
                <p>guard</p>
            </th>
            <th>
                <p>startup</p>
            </th>
            <th>
                <p>active</p>
            </th>
            <th>
                <p>recovery</p>
            </th>
            <th>
                <p>onBlock</p>
            </th>
            <th>
                <p>onHit</p>
            </th>
            <th>
                <p>riscGain</p>
            </th>
            <th>
                <p>level</p>
            </th>
            <th>
                <p>invuln</p>
            </th>
            <th>
                <p>prorate</p>
            </th>
        <thead>
        <tbody>
            {% for data in character.data %}
            <tr valign="top">
                <td>
                    <p>{{ data.input }}</p>
                </td>
                <td>
                    <p>{{ data.damage }}</p>
                </td>
                <td>
                    <p>{{ data.guard }}</p>
                </td>
                <td>
                    <p>{{ data.startup }}</p>
                </td>
                <td>
                    <p>{{ data.active }}</p>
                </td>
                <td>
                    <p>{{ data.recovery }}</p>
                </td>
                <td>
                    <p>{{ data.onBlock }}</p>
                </td>
                <td>
                    <p>{{ data.onHit }}</p>
                </td>
                <td>
                    <p>{{ data.riscGain }}</p>
                </td>
                <td>
                    <p>{{ data.level }}</p>
                </td>
                <td>
                    <p>{{ data.invuln }}</p>
                </td>
                <td>
                    <p>{{ data.prorate }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null],
      });
    });
  </script>
{% endblock %}